# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# temp
/public/monero_wallet_full.js
/public/monero_wallet_full.wasm
/public/monero_wallet_keys.js
/public/monero_wallet_keys.wasm
/public/monero_web_worker.js
/public/monero_web_worker.js.map
securebrowse-hashes.txt

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.idea
.venv
.autoenv
.env