@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z2olnt');
  src:  url('fonts/icomoon.eot?z2olnt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z2olnt') format('truetype'),
    url('fonts/icomoon.woff?z2olnt') format('woff'),
    url('fonts/icomoon.svg?z2olnt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-two-way-arrow:before {
  content: "\e91e";
}
.icon-info:before {
  content: "\e919";
}
.icon-accounts-outline:before {
  content: "\e91d";
}
.icon-send:before {
  content: "\e91a";
}
.icon-send_get:before {
  content: "\e91b";
}
.icon-get:before {
  content: "\e91c";
}
.icon-settings:before {
  content: "\e913";
}
.icon-account:before {
  content: "\e916";
}
.icon-arrow-down-bold:before {
  content: "\e917";
}
.icon-eye:before {
  content: "\e918";
}
.icon-login:before {
  content: "\e910";
}
.icon-logout:before {
  content: "\e911";
}
.icon-settings-outline:before {
  content: "\e915";
}
.icon-account-outline:before {
  content: "\e914";
}
.icon-wallets:before {
  content: "\e90f";
}
.icon-faq:before {
  content: "\e912";
}
.icon-checvron_up:before {
  content: "\e900";
}
.icon-checvron_down:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-copy:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
}
.icon-dot:before {
  content: "\e905";
}
.icon-checvron_left:before {
  content: "\e906";
}
.icon-arrow_right:before {
  content: "\e907";
}
.icon-arrow_left:before {
  content: "\e908";
}
.icon-qrcode:before {
  content: "\e909";
}
.icon-refresh:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-caret_down:before {
  content: "\e90c";
}
.icon-caret_up:before {
  content: "\e90d";
}
.icon-checvron_right:before {
  content: "\e90e";
}
